[Unit]
Description=Curtains Wallpaper Service
After=network.target

[Service]
Type=Simple
ExecStart=%h/.curtains/scripts/curtains-wallpaper-service.sh
WorkingDirectory=%h/.curtains/scripts
Restart=on-failure

[Install]
WantedBy=default.target